# Ignorar datos y resultados pesados
dataset/
results/

# Python compilados
__pycache__/
*.pyc

# Entornos virtuales
.env/
venv/

# Datos del dataset
/dataset/

# Credenciales de Kaggle
kaggle.json


logs/
